* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font: normal 300 1em/1.428 'Lato', sans-serif;
	color: #747704;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
	margin: 0 auto 0 auto;
}

.hrAlign {
	position: absolute;	
	border: none;
	border-top: medium double;
	display: inline-block;	
	top: -0.7em;
	padding: 0 0.25em;
	margin: 5% 0 5% 0;
}

.feature {	
	padding-left: 2%;
}

.projectTitles {
	font-size: 2em;
	margin: 1% 0 1% 0;
}

.styleNameText {		
	text-align: right;	
}

.styleTitleText {	
	text-align: right;	
}

.alignCenter {
	text-align: center;
}

.image {
	margin: 0 auto 0 auto;
}

.silverColor {
	color: #bcbbbb;
	font-weight: bold;
}

.myPicAlign {
	margin: 5% 0 10% 0;
}

.credit {
	width: 100%;
	position: absolute;	
	color: #fff;
}

.credit, a {
	color: #fff;
}

.alignRight {
	margin-left: 8%;
}

/* Custom, iPhone Retina */ 
@media (min-width: 200px) {
	.styleNameText {
		font-size: 1.4em;
		margin: 55% 0 0 0;
	}
	
	.styleTitleText {	
		font-size: 1em;
		margin: 1% 0 0 1%;
	}
	
	.hrAlign {
		width: 83%;
	}
	
	.shipImageAlignment {
		margin-top: 10%;
	}
	
	.credit {
		font-size: 0.8em;
		font-weight: bold;
		left: 10%;
		top: 80%;
	}
	
	.journeyQuote {
		display: none;
	}

	.feature {
		font-size: 1.5em;
	}	
	
	.projectLinkFont {
		font-size: 1em;
	}
	
	.projectTitles {
		font-size: 2em;
	}
}

@media (min-width : 320px) {
	.styleNameText {
		font-size: 2.4em;
		margin: 62% 0 0 0;
	}
	
	.styleTitleText {	
		font-size: 1.2em;
		margin: 3% 0 0 1%;
	}
	
	.hrAlign {
		width: 89%;
	}
	
	.shipImageAlignment {
		margin-top: 10%;
	}
	
	.credit {
		font-size: 1.3em;		
		left: 7%;
		top: 85%;
	}
	
	.journeyQuote {
		display: none;
	}

	.feature {
		font-size: 2em;
	}

	.projectLinkFont {
		font-size: 2em;
	}
	
	.projectTitles {
		font-size: 2.5em;
	}	
}

@media (min-width: 414px) {
	.styleNameText {			
		margin: 67% 0 0 0;
	}
	
	.hrAlign {
		width: 91.5%;
	}
}

/* Extra Small Devices, Phones */ 
@media (min-width : 480px) {
	.styleNameText {		
		font-size: 3.8em;
		margin: 28% 0 0 0;
	}
	
	.styleTitleText {		
		font-size: 2.5em;
		margin: 3% 0 0 1%;
	}
	
	.hrAlign {
		width: 93.5%;
	}
	
	.shipImageAlignment {
		margin-top: 13%;
	}
	
	.credit {
		font-size: 2.1em;		
		left: 3%;
		top: 89%;
	}
	
	.journeyQuote {
		display: none;
	}

	.feature {
		font-size: 3em;
	}

	.projectLinkFont {
		font-size: 3em;
	}
	
	.projectTitles {
		font-size: 3em;
	}	
}

/* Small Devices, Tablets */
@media (min-width : 768px) {
	.styleNameText {	
		font-weight: 100;
		font-size: 4.5em;
		margin: 26% 0 0 0;
	}
	
	.styleTitleText {		
		font-size: 2.6em;
		margin: 3% 0 0 1%;
	}
	
	.hrAlign {
		width: 93.5%;
		margin: 3% 0 3% 0; 
	}
	
	.shipImageAlignment {
		margin-top: 9%;
	}
	
	.credit {
		font-size: 2.1em;		
		left: 3%;
		top: 89%;
	}
	
	.journeyQuote {
		display: none;
	}

	.feature {
		font-size: 3em;
	}

	.projectLinkFont {
		font-size: 3em;
	}
	
	.projectTitles {
		font-size: 3em;
	}
}

/* Medium Devices, Desktops */
@media (min-width : 992px) {
	.styleNameText {	
		font-weight: 100;
		font-size: 4.5em;
		margin: 20% 0 0 0;
	}
	
	.styleTitleText {		
		font-size: 2.6em;
		margin: 3% 0 0 1%;
	}
	
	.hrAlign {
		width: 96.5%;
		margin: 0; 
	}
	
	.shipImageAlignment {
		margin-top: 3.5%;
	}
	
	.credit {
		font-size: 2.1em;		
		left: 3%;
		top: 94%;
	}
	
	.journeyQuote {
		display: none;
	}

	.feature {
		font-size: 3em;
	}

	.projectLinkFont {
		font-size: 3em;
	}
	
	.projectTitles {
		font-size: 3em;
	}	

}

/* Large Devices, Wide Screens */
@media (min-width : 1200px) {

	.styleNameText {	
		font-weight: 100;
		font-size: 4.5em;
		margin: 18% 0 0 0;
	}
	
	.styleTitleText {		
		font-size: 2.6em;
		margin: 1% 0 0 1%;
	}
	
	.hrAlign {
		width: 97%;
		margin: 0; 
	}
	
	.shipImageAlignment {
		margin-top: 3.5%;
	}
	
	.credit {
		font-size: 2.1em;		
		left: 3%;
		top: 94%;
	}
	
	.journeyQuote {
		display: none;
	}

	.feature {
		font-size: 3em;
	}

	.projectLinkFont {
		font-size: 3em;
	}
	
	.projectTitles {
		font-size: 3em;
	}	
}




